<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sass/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sass/pages/assignclass.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .modal{
            z-index: 1002;
        }
        .header{
            z-index: 1001;
        }
    </style>
    <script>
        function opennavbar(){
            $('.navbar').toggleClass('show-navbar');
        }
        function showsublist(param , value){
            $('ul', param).toggleClass(value);
        }
        function logout(){
            localStorage.clear();
            window.location.href = '/';
        }
        function loadnavbar(){
            priority = localStorage.getItem('faculty_type');
            console.log(priority);
            var temp = `
            <ul class="nav__ul">
                    <li class="nav__li" onclick="window.location.href = 'home' ">Home</li>
                    <li class="nav__li teacherli" onclick="showsublist($(this), 'show')">Professor<span></span>
                        <ul class="sub ">
                            <!--Add show on click of teacherli-->`;
            if(priority > 2){
                temp += `
                    <li class="sub__li" onclick="window.location.href = 'teachers'">View All Teachers</li>
                    <li class="sub__li" onclick="window.location.href = 'approval'">Approve Register Request</li>
                    <li class="sub__li" onclick="window.location.href = 'assignclass'">Assign Class teachers</li>
                `;
            }
            if(priority > 1){
                temp += `
                <li class="sub__li" onclick="window.location.href = 'assignteacher'">Add subjects</li>
                `;
            }
            temp += `</ul>
                    </li>
                    <li class="nav__li studentli" onclick="showsublist($(this), 'show')"><div class="student">Students</div>
                        <ul class="sub studentlist">`;
            if(priority > 1){
                temp += `
                    <li class="sub__li" onclick=" window.location.href = 'addstudent'"> Add students</li>
                `;
            }
            temp += `
                            <li class="sub__li" onclick=" window.location.href = 'addattendance'">Manage attendace</li>
                            <li class="sub__li" onclick=" window.location.href = 'iamarks'"> Manage IA marks</li>
                        </ul>
                    </li>
                </ul>
            `;
            $('.navbar').html(temp);
        }
    </script>
    <script>
        $(document).ready(function () {
            var authkey = localStorage.getItem('authkey');
            var faculty_id = localStorage.getItem('faculty_id');
            var data = {
                'authkey': authkey,
                'faculty_id': faculty_id
            };
            if(data['authkey'] == null || data['faculty_id'] == null){
                window.location.href = "/";
            }
            if (localStorage.getItem('faculty_type') < 3)
                {
                    window.location.href = 'home'
                }   
            loadnavbar();
            var pic = localStorage.getItem("teacher_picture");
            console.log(pic);
            var img = ` <img src="data:image/jpg;base64, `+ pic + `" alt="" class="header__logout__img" >`
            $('.header__logout__pic').html(img);
            $.ajax({
                type: "POST",
                url: "getclassdetails",
                dataType: 'Json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                processData: false,
                success: function (ret_obj) {
                    console.log(ret_obj);
                    var class_data = ret_obj['data'];
                    for (i = 0; i < class_data.length; i++) {
                        temp = '.assignclass__' + class_data[i]['sem'] + '__' + class_data[i]['sec'] + " " + ".assignclass__add";
                        $(temp).addClass('assignclass__addshownone');
                        temp = '.assignclass__' + class_data[i]['sem'] + '__' + class_data[i]['sec'] + " " + ".assignclass__teacher-pic";
                        $(temp).addClass('assignclass__picshow');
                        $(temp + " .assignclass__teacher-img").attr('src', 'data:image/jpg;base64, '+class_data[i]['details']['teacher_picture']);
                        temp = '.assignclass__' + class_data[i]['sem'] + '__' + class_data[i]['sec'] + " " + ".assignclass__teacherdetails"
                        $(temp).addClass('assignclass__detailshow');
                        $(temp + " .assignclass__teachername").text('Name: ' + class_data[i]['details']['name']);
                        $(temp + " .assignclass__teacherid").text('Teacher id: ' + class_data[i]['classteacher_id']);
                    }
                }
            });
            $('#modal-department').change(function () {
                console.log($(this).val());
                $('#c_teacher').removeAttr('disabled');
                if ($(this).val() != 'Select') {
                    var authkey = localStorage.getItem('authkey');
                    var faculty_id = localStorage.getItem('faculty_id');
                    var dep = $('#modal-department').find(":selected").text();
                    var data = {
                        'authkey': authkey,
                        'faculty_id': faculty_id,
                        'department': dep
                    };
                    $.ajax({
                        type: "POST",
                        url: "getdetails",
                        dataType: 'Json',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        processData: false,
                        success: function (ret_obj) {
                            console.log(ret_obj);
                            for (i = 0; i < (ret_obj['data']).length; i++) {
                                $('#c_teacher').append('<option id="' + ret_obj['data'][i]['faculty_id'] + '">' + ret_obj['data'][i]['name'] + '</option>');
                            }
                        }
                    });
                }
                else {
                    $('#c_teacher').attr('disabled', true);
                }
            });
        });
        function openmodal(sem, sec) {
            console.log('changed');
            $('.modal').toggleClass('modal__dispnone');
            $('.modal #sem').val(sem);
            $('.modal #sec').val(sec);
        }
        function submitaddclass() {
            var authkey = localStorage.getItem('authkey');
            var faculty_id = localStorage.getItem('faculty_id');
            var dep = $('#modal-department').find(":selected").text();
            var c_teach = $('#c_teacher').find(":selected").text();
            var c_id = $('#c_teacher').find(":selected").attr('id');
            var sem = $('.modal #sem').val();
            var sec = $('.modal #sec').val();
            var data = {
                'authkey': authkey,
                'faculty_id': faculty_id,
                'department': dep,
                'sem': sem,
                'sec': sec,
                'c_id': c_id,
                'c_teacher': c_teach
            };
            console.log(data);
            $.ajax({
                type: "POST",
                url: "addclass",
                dataType: 'Json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                processData: false,
                success: function (ret_obj) {
                    console.log(ret_obj);
                    $('.modal').toggleClass('modal_dispnone');
                    location.reload();
                }
            });
        }
        function closemodal(){
            $('.modal').addClass('modal__dispnone');
        }
        function opennavbar()
        {
            $('.navbar').toggleClass('show-navbar');
        }
    </script>
</head>

<body>
    <!-- Modal definition -->

    <div class="modal modal__dispnone">
        <!--modal__dispnone is a class to hide the modal from the page-->
        <div class="modal__body">
            <h1 class="modal__heading">Add class teacher</h1>
            <div class="close-btn" onclick="closemodal()"><i class="fa fa-times fa-2x"></i></div>
            <div class="modal__content">
                <input type="hidden" id="sem">
                <input type="hidden" id="sec">
                <label for="modal-department">Department</label>
                <select name="dep" id="modal-department">
                    <option value="Select">Select</option>
                    <option value="ISE">ISE</option>
                    <option value="CSE">CSE</option>
                </select>
                <br>
                <label for="class_teacher">Select Class teacher</label>
                <select name="class_teacher" id="c_teacher" disabled>
                    <option value="select class teacher">Select</option>
                </select>
                <br>
                <button id="submit-c_teacher" onclick="submitaddclass()">Submit</button>
            </div>
        </div>
    </div>

    <!-- end modal definition -->
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static' , filename = 'images/logo.png')}}" alt="" class="header__collegelogo">
            <div class="header__content1">
                <button class="nav-btn" onclick="opennavbar()"><i class="fa fa-bars fa-2x headericon"></i></button>
                <h3 class="header__heading">Assign Class Teacher</h3>
            </div>
            <div class="header__content2">
                <!-- <form action="" class="header__form search-show">
                    <input type="search" class="header__search" placeholder="Search here">
                    <button class="header__search-btn"><i class="fa fa-search fa-1x icon-sbtn"></i></button>
                </form> -->
                <div class="btn-shownone">
                    <i class="fa fa-search fa-2x "></i>       <!--Make the btn-shownone to display block on click-->
                </div>
                
                <div class="header__logout">
                    <div class="header__logout__group" onclick="showsublist($(this), 'header__logout__listshow')">
                        <div class="header__logout__pic">
                            <img src="../images/user-3.jpg" alt="" class="header__logout__img">
                        </div>
                        <div class="header__dots" ><i class="fa fa-ellipsis-v fa-1x"></i>
                            <ul class="header__logout__list ">   <!--Add header__logout__listshow on click of header__logout__group-->
                                <li><a href="home">My profile</a></li>
                                <!-- <li><a href="#">Settings</a></li> -->
                                <li><a href="#">Log out</a></li>
                            </ul>   
                        </div>
                        <p class="header__logout__name"><span class="header__logout__span">Admin</span>    
                            <ul class="header__logout__list ">   <!--Add header__logout__listshow on click of header__logout__group-->
                                <li><a href="home">My profile</a></li>
                                <!-- <li><a href="#">Settings</a></li> -->
                                <li><div onclick="logout()">Log out</div></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="navbar">
                <!--Add show-navbar on click of nav button-->
                <ul class="nav__ul">
                    <li class="nav__li"><a href="">home</a> </li>
                    <li class="nav__li teacherli"><a href="" class="teacher">Professor</a> <span></span>
                        <ul class="sub ">
                            <!--Add show on click of teacherli-->
                            
                            <li class="sub__li" onclick="window.location.href = 'assignclass'">Class teachers</li>
                            <li class="sub__li" onclick="window.location.href = 'assignteacher'">Add subjects</li>
                        </ul>
                    </li>
                    <li class="nav__li studentli"><a href="" class="student">Students</a>
                        <ul class="sub studentlist">
                            <!--Add show on click of studentli-->
                            <li class="sub__li" onclick=" window.location.href = 'addstudent'"> Add students</li>
                            
                            <li class="sub__li" onclick=" window.location.href = 'addattendance'">Manage attendace</li>
                            <li class="sub__li" onclick=" window.location.href = 'iamarks'"> Manage IA marks</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="assignclass">
                    <div class="assignclass__2">
                        <div class="assignclass__2__a">
                            <div class="assignclass__add ">
                                <!--Add assignclass__addshownone to hide the plus -->
                                <div class="assignclass__add__pic" id="2-a" onclick="openmodal(2, 'a')">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 2nd A</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic ">
                                <!--Add assignclass__picshow to display teacher picture-->
                                <img src="" alt=""
                                    class="assignclass__teacher-img" height="50" width="50">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <!--Add assignclass__detailshow to display teacher details-->
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs18is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 2nd semister A</p>
                            </div>
                        </div>
                        <div class="assignclass__2__b">
                            <div class="assignclass__add">
                                <div class="assignclass__add__pic" id="2-b" onclick="openmodal(2, 'b')">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 2nd B</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic">
                                <img src=""  height="50" width="50" alt=""
                                    class="assignclass__teacher-img">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs18is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 2nd semister B</p>
                            </div>
                        </div>
                    </div>
                    <div class="assignclass__4">
                        <div class="assignclass__4__a">
                            <div class="assignclass__add" id="4-a" onclick="openmodal(4, 'a')">
                                <div class="assignclass__add__pic">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 4th A</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic">
                                <img src=""  height="50" width="50" alt=""
                                    class="assignclass__teacher-img">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs17is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 4th semister A</p>
                            </div>
                        </div>
                        <div class="assignclass__4__b">
                            <div class="assignclass__add" id="4-b" onclick="openmodal(4, 'b')">
                                <div class="assignclass__add__pic">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 4th B</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic">
                                <img src=""  height="50" width="50" alt=""
                                    class="assignclass__teacher-img">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs17is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 4th semister B</p>
                            </div>
                        </div>
                    </div>
                    <div class="assignclass__6">
                        <div class="assignclass__6__a">
                            <div class="assignclass__add" id="6-a" onclick="openmodal(6, 'a')">
                                <div class="assignclass__add__pic">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 6th A</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic">
                                <img src=""  height="50" width="50" alt=""
                                    class="assignclass__teacher-img">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs16is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 6th semister A</p>
                            </div>
                        </div>
                        <div class="assignclass__6__b">
                            <div class="assignclass__add" id="6-b" onclick="openmodal(6, 'b')">
                                <div class="assignclass__add__pic">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                                <p class="assignclass__add__text">Add class teacher for 6th B</p>
                            </div>
                            <div class="assignclass__dots">
                                <i class="fa fa-ellipsis-v fa-1x"></i>
                            </div>
                            <div class="assignclass__teacher-pic">
                                <img src=""  height="50" width="50" alt=""
                                    class="assignclass__teacher-img">
                            </div>
                            <div class="assignclass__teacherdetails">
                                <p class="assignclass__teachername">Name: John doe</p>
                                <p class="assignclass__teacherid">Teacher id: 1rs16is001</p>
                                <p class="assignclass__teacherclass">Class teacher: 6th semister B</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    
</body>
<!-- <script src="{{ url_for('static', filename = 'js/sample.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/nav.js') }}"></script> -->
</html>