<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'sass/main.css') }}" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      var data = {
        "authkey": localStorage.getItem("authkey"),
        "faculty_id": localStorage.getItem("faculty_id")
      };
      $.ajax({
        type: "POST",
        url: "getdetails",
        dataType: 'Json',
        contentType: 'application/json',
        data: JSON.stringify(data),
        processData: false,
        success: function (ret_obj) {
          if (ret_obj['status_code'] == 200) {
            $('#email').val(ret_obj['data']['name']);
            $('#name').val(ret_obj['data']['email_id']);
            $('#department').val(ret_obj['data']['department']);
            $('#email').attr('disabled', true);
            $('#name').attr('disabled', true);
            $('#department').attr('disabled', true);
          }
          console.log(ret_obj);
        }
      });
    });


    function addneweducation() {
      var count = $('.register2__education__degree__container > div.register2__education__degrees').length;
      var t = `
      <div class="register2__education__degrees" id = "`+ (count + 1) + `">
              <h3> Education Details - `+ (count + 1) + `</h3>
              <label for="degree">Degree</label>
              <select id="degree" class="register2__education__degrees__input">
                <option value="UG">UG</option>
                <option value="PG">PG</option>
                <option value="PhD">PhD</option>
              </select>
              <div class="register2__education__institution displayflexcol marginbottom04">
                <label for="education__institution ">Education institution</label>
                <input type="text" class="register2__education__institution__input " id="education__institution" />
              </div>
              <div class="register2__education__branch displayflexcol marginbottom04">
                <label for="education__branch">Education Branch</label>
                <input type="text" class="register2__education__branch__input" id="education__branch" />
              </div>
              <div class="register2__education__percentage displayflexcol marginbottom04">
                <label for="education__percentage">Percentage</label>
                <input type="number" class="register2__education__percentage__input" id="education__percentage" />
              </div>
              <div class="register2__education__passing displayflexcol marginbottom04">
                <label for="passing">Year of passing</label>
                <input type="number" class="register2__education__passing__input" id="passing" />
              </div>
              <div class="register2__education__university displayflexcol">
                <label for="university">University</label>
                <input type="text" class="register2__education__university__input" id="university" />
              </div>
            </div>
      `;
      $('.register2__education__degree__container').append(t);
    }
    function addworkexperience() {
      var count = $('.register2__workexp__container > div.register2__workexp__details').length;
      var t = `
      <div class="register2__workexp__details" id = "`+ (count + 1) + `">
        <h3> Work Experience - `+ (count + 1) + `</h3>
            <div class="register2__workexp__designation displayflexcol marginbottom04">
              <label for="designation">Designation</label>
              <input type="text" class="register2__workexp__designation__input" id="designation" />
            </div>
            <div class="register2__workexp__organization displayflexcol marginbottom04">
              <label for="organization">Organization</label>
              <input type="text" class="register2__workexp__organization__input" id="organization" />
            </div>
            <div class="register2__workexp__duration displayflexcol">
              <label for="duration">Duration</label>
              <input type="number" class="register2__workexp__duration__input" id="duration" />
            </div>
          </div>
      `;
      $('.register2__workexp__container').append(t);
    }

    function addpublications() {
      var count = $('.register2__research_publications_container > div.register2__research__publications__details').length;
      var t = `
      <div class="register2__research__publications__details displayflexcol marginbottom04" id="`+ (count + 1) + `">
        <h3> Publication - `+ (count + 1) + `</h3>
              <label for="publication">Publication</label>
              <input type="text" class="register2__research__publications__input" id="publication" />
            </div>
      `;
      $('.register2__research_publications_container').append(t);
    }

    function addspecialisation() {
      var count = $('.register2__area_of_specialisation__container > div.register2__area_of_specialisation__details').length;
      var t = `
      <div class="register2__area_of_specialisation__details displayflexcol marginbottom04" id="`+ (count + 1) + `">
        <h3> Specialisation - `+ (count + 1) + `</h3>
              <label for="specialisation">Specialisation</label>
              <input type="text" class="register2__area_of_specialisation__input" id="specialisation" />
            </div>
      `;
      $('.register2__area_of_specialisation__container').append(t);
    }
    function addpaper() {
      var count = $('.register2__research_papers_container > div.register2__research__papers__details').length;
      var t = `
      <div class="register2__research__papers__details displayflexcol" id="`+ (count + 1) + `">
        <h3> Paper - `+ (count + 1) + `</h3>
              <label for="papers">Papers</label>
              <input type="text" class="register2__research__papers__input" id="papers" />
            </div>
      `;
      $('.register2__research_papers_container').append(t);
    }
    function addinvitedtalks() {
      var count = $('.register2__talks_container > div.register2__talks__details').length;
      var t = `
      <div class="register2__talks__details" id = "`+ (count + 1) + `">
        <h3> Invited Talk - `+ (count + 1) + `</h3>
            <label for="talks">Talk topic</label>
            <textarea id="talks" cols="30" rows="3" placeholder="Enter talks"
              class="register2__talks__input"></textarea>
          </div>
      `;
      $('.register2__talks_container').append(t);
    }
    function addsession() {
      var count = $('.register2__session__container > div.register2__session__details').length;
      var t = `
      <div class="register2__session__details displayflexcol" id="`+ (count + 1) + `">
        <h3> Session - `+ (count + 1) + `</h3>
            <label for="session">Session1</label>
            <input type="text" class="register2__session__input" id="session" />
          </div>
      `;
      $('.register2__session__container').append(t);
    }

    function addworkshop() {
      var count = $('.register2__workshop__container > div.register2__workshop__details').length;
      var t = `
      <div class="register2__workshop__details" id = "`+ (count + 1) + `">
        <h3> Workshop - `+ (count + 1) + `</h3>
            <select id="workshop_type" class="register2__workshop__input_dropdown marginbottom04">
              <option value="Workshops">Workshops</option>
              <option value="Seminar">Seminar</option>
              <option value="FDPs">FDPs</option>
              <option value="Training pgm">Training pgm</option>
            </select>
            <textarea id="workshop_description" cols="30" rows="3" class="register2__workshop__input_text"></textarea>
          </div>
      `;
      $('.register2__workshop__container').append(t);
    }
    // function getBase64(file) {
    //   var reader = new FileReader();
    //   reader.readAsDataURL(file);
    //   reader.onload = function () {
    //     console.log(reader.result);
    //     return reader.result;
    //   };
    //   reader.onerror = function (error) {
    //     console.log('Error: ', error);
    //   };
    // }
    function submitregister2() {
      var authkey = localStorage.getItem("authkey");
      var faculty_id = localStorage.getItem("faculty_id");
      var name = $('#name').val();
      var email = $('#email').val();
      var department = $('#department').val();
      // var qualification = $('#qualification').val();
      var designation = $('#designation').find(':selected').text();
      var specialization = $('#specialize').val();
      var dateofjoining = $('#date').val();
      var association = $('#association').find(":Selected").text();
      var phone = $('#phone').val();
      var experience = $('#exp').val();
      var teacherimage_data = b64;
      console.log(teacherimage_data);
      //var teacherimage = new FormData($('#teacherimg'));
      // teacherimage_file = document.querySelector('#teacherimg').files[0]
      // img = getBase64(teacherimage_file);
      // console.log(img);

      console.log(teacherimage_data);
      var education = [];
      var len_edu = $('.register2__education__degree__container > div.register2__education__degrees').length;
      for (i = 0; i < len_edu; i++) {
        temp = '.register2__education__degree__container';
        degree = $(temp + " #" + (i + 1) + " .register2__education__degrees__input").find(":selected").text();
        edu_inst = $(temp + " #" + (i + 1) + " .register2__education__institution__input").val();
        edu_branch = $(temp + " #" + (i + 1) + " .register2__education__branch__input").val();
        edu_percent = $(temp + " #" + (i + 1) + " .register2__education__percentage__input").val();
        year_pass = $(temp + " #" + (i + 1) + " .register2__education__passing__input").val();
        university = $(temp + " #" + (i + 1) + " .register2__education__university__input").val();
        var data = {
          'degree': degree,
          'educational_institution': edu_inst,
          'branch': edu_branch,
          'percentage': edu_percent,
          'year_of_passing': year_pass,
          'university': university
        };
        education.push(data);
      }
      var areaofspecialisation = []
      var len_areaofspecialisation = $('.register2__area_of_specialisation__container > div.register2__area_of_specialisation__details').length;
      for (i = 0; i < len_areaofspecialisation; i++) {
        temp = '.register2__area_of_specialisation__container';
        specialisation = $(temp + " #" + (i + 1) + " .register2__area_of_specialisation__input").val();
        data = {
          'specialisation_details': specialisation
        };
        areaofspecialisation.push(data);
      }

      var workexperience = []
      var len_work_experience = $('.register2__workexp__container > div.register2__workexp__details').length;
      for (i = 0; i < len_work_experience; i++) {
        temp = '.register2__workexp__container';
        designation = $(temp + " #" + (i + 1) + " .register2__workexp__designation__input").val();
        organization = $(temp + " #" + (i + 1) + " .register2__workexp__organization__input").val();
        duration = $(temp + " #" + (i + 1) + " .register2__workexp__duration__input").val();
        data = {
          'designation': designation,
          'organization': organization,
          'duration': duration
        };
        workexperience.push(data);
      }

      var publications = [];
      var len_publications = $('.register2__research_publications_container > div.register2__research__publications__details').length;
      for (i = 0; i < len_publications; i++) {
        temp = '.register2__research_publications_container';
        publication = $(temp + " #" + (i + 1) + " .register2__research__publications__input").val();
        data = {
          'publication_details': publication
        };
        publications.push(data);
      }

      var papers = [];
      var len_papers = $('.register2__research_papers_container > div.register2__research__papers__details').length;
      for (i = 0; i < len_papers; i++) {
        temp = '.register2__research_papers_container';
        paper = $(temp + " #" + (i + 1) + " .register2__research__papers__input").val();
        data = {
          'paper_details': paper
        };
        papers.push(data);
      }

      var invitedtalks = [];
      var len_invited_talks = $('.register2__talks_container > div.register2__talks__details').length;
      for (i = 0; i < len_invited_talks; i++) {
        temp = '.register2__talks_container';
        invited_talk = $(temp + " #" + (i + 1) + " .register2__talks__input").val();
        data = {
          'invited_talk_details': invited_talk
        };
        invitedtalks.push(data);
      }

      var sessions = [];
      var len_sessions = $('.register2__session__container > div.register2__session__details').length;
      for (i = 0; i < len_sessions; i++) {
        temp = '.register2__session__container';
        session = $(temp + " #" + (i + 1) + " .register2__session__input").val();
        data = {
          'session_details': session
        };
        sessions.push(data);
      }

      var workshops = [];
      var len_workshops = $('.register2__workshop__container > div.register2__workshop__details').length;
      for (i = 0; i < len_workshops; i++) {
        temp = '.register2__workshop__container';
        workshop_type = $(temp + " #" + (i + 1) + " .register2__workshop__input_dropdown").find(":selected").text();
        workshop_description = $(temp + " #" + (i + 1) + " .register2__workshop__input_text").val();
        data = {
          'workshop_type': workshop_type,
          'workshop_description': workshop_description
        };
        workshops.push(data);
      }
      var dob = $('.register2__personal__dob__input').val();
      var gender = $('input[name=gend]:checked', '.register2__personal__gender').val();
      var marital_status = $('input[name=marital]:checked', '.register2__personal__marital').val();
      var address = $('#address').val();
      var final_data = {
        'authkey': authkey,
        'faculty_id': faculty_id,
        'name': name,
        'email_id': email,
        'department': department,
        'designation': designation,
        'area_of_specialisation': areaofspecialisation,
        'date_of_joining': dateofjoining,
        'association_with_institution': association,
        'phone': phone,
        'experience': experience,
        'teacher_picture': teacherimage_data,
        'education': education,
        'work_experience': workexperience,
        'publications': publications,
        'papers': papers,
        'invitedtalks': invitedtalks,
        'sessions': sessions,
        'workshops': workshops,
        'date_of_birth': dob,
        'gender': gender,
        'address': address,
        'marital_status': marital_status//,
        // 'first_login' : 0
      };
      localStorage.setItem("teacher_picture",b64) ;
      console.log(JSON.stringify(final_data));
      $.ajax({
        type: "POST",
        url: "/finalregister",
        dataType: 'Json',
        contentType: 'application/json',
        data: JSON.stringify(final_data),
        processData: false,
        success: function (ret_obj) {
          console.log(ret_obj);
          window.location.href = 'home';
        }
      });
    }
  </script>
</head>

<body>
  <div class="register2">
    <div class="register2__profile">
      <h1 class="register2__profile__heading marginbottom06">Register</h1>
      <div action="" class="register2__forms">
        <div class="register2__name marginbottom06">
          <label for="name">Name</label>
          <input type="text" class="register2__name__input" id="name" />
        </div>
        <div class="register2__email marginbottom06">
          <label for="email">Email</label>
          <input type="email" class="register2__email__input" id="email" />
        </div>
        <div class="register2__department marginbottom06">
          <label for="department">Department</label>
          <input type="text" id="department" class="register2__department__input">
          <!-- <select id="department" >
            <option value="Cse">Cse</option>
            <option value="Ise">Ise</option>
          </select> -->
        </div>
        <!-- <div class="register2__qualification">
          <label for="qualification"><span class="labels">Qualification</span></label>
          <textarea id="qualification" cols="30" rows="3" class="register2__qualification__input"></textarea>
        </div> -->
        <div class="register2__designation marginbottom06">
          <label for="designation">Designation</label>
          <select id="designation" class="register2__designation__input">
            <option value="Professor">Professor</option>
            <option value="Associate Professor">Associate Professor</option>
            <option value="Assistant Professor">Assistant Professor</option>
          </select>
        </div>
        <!--<div class="register2__specialize marginbottom06">
          <label for="specialize">Area of specialization</label>
          <textarea id="specialize" class="register2__specialize__input" cols="30" rows="3"></textarea>
        </div>-->
        <div class="register2__date marginbottom06">
          <label for="date">Date of joining</label>
          <input type="date" class="register2__date__input" id="date" />
        </div>
        <div class="register2__association marginbottom06">
          <label for="association">Association with instituion</label>
          <select id="association" class="register2__association__input">
            <option value="Regular">Regular</option>
            <option value="Visting">Visting</option>
            <option value="Adjunct">Adjunct</option>
            <option value="Contract">Contract</option>
          </select>
        </div>
        <div class="register2__phone marginbottom06">
          <label for="phone">Phone number</label>
          <input type="text" class="register2__phone__input" id="phone" />
        </div>
        <div class="register2__exp marginbottom06">
          <label for="exp">Experience in years</label>
          <input type="number" class="register2__exp__input" id="exp" />
        </div>

        <div class="register2__teacherimage marginbottom06">
          <label for="teacherimg">Upload Image</label>
          <input type="file" id="teacherimg" class="register2__teacherimage__input">
        </div>
        <div class="register2__address marginbottom06">
          <label for="address">Enter address</label>
          <input type="text" id="address" class="register2__address__input">
        </div>
        <div class="register2__education marginbottom08">
          <div class="register2__education__container">
            <h3 class="register2__education__title">Add Education</h3>
            <button class="register2__education__button plus-button" onclick="addneweducation()">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>
          <div class="register2__education__degree__container">

          </div>

        </div>
        <div class="register2__area_of_specialisation marginbottom08">
          <div class="register2__area_of_specialisation__cont">
            <h3 class="register2__area_of_specialisation__title">Add Specialisation</h3>
            <button class="register2__area_of_specialisation__button plus-button" onclick="addspecialisation()">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>
          <div class="register2__area_of_specialisation__container">

          </div>
        </div>
        <div class="register2__workexp marginbottom08">
          <div class="register2__workexp__cont">
            <h3 class="register2__workexp__title">Add Work Experience</h3>
          <button class="register2__workexp__button plus-button" onclick="addworkexperience()">
            <i class="fa fa-plus fa-2x"></i>
          </button>
          </div>
          <div class="register2__workexp__container">
          </div>
        </div>
        <div class="register2__research marginbottom08">
          <div class="register2__research__publications marginbottom06">
            <div class="register2__research__publications__cont">
              <h3 class="register2__research__pubhead">Add Publications</h3>
              <button class="register2__research__pubbutton plus-button marginbottom04" onclick="addpublications()">
                <i class="fa fa-plus fa-2x"></i>
              </button>
            </div>
            <div class="register2__research_publications_container">

            </div>

          </div>
          <div class="register2__research__papers">
            <div class="register2__research__papers__cont">
              <h3 class="register2__research__paperhead">Add Papers</h3>
              <button class="register2__research__paperbutton plus-button marginbottom04" onclick="addpaper()">
                <i class="fa fa-plus fa-2x"></i>
              </button>
            </div>
            <div class="register2__research_papers_container">

            </div>
          </div>
        </div>
        <div class="register2__talks marginbottom08">
          <div class="register2__talks__cont">
            <h3 class="register2__talks__talkhead">Add Invited Talks</h3>
            <button class="register2__talks__talkbutton plus-button marginbottom04" onclick="addinvitedtalks()">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>
          <div class="register2__talks_container">

          </div>
        </div>
        <div class="register2__session marginbottom08">
          <div class="register2__session__cont">
            <h3 class="register2__session__sessionhead">Add Session Chairs</h3>
            <button class="register2__session__sessionbutton plus-button marginbottom04" onclick="addsession()">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>
          <div class="register2__session__container">

          </div>
        </div>
        <div class="register2__workshop marginbottom08">
          <div class="register2__workshop__cont">
            <h3 class="register2__workshop__workshophead">
              Add Workshop/Seminar/FDP
            </h3>
            <button class="register2__workshop__workshopbutton plus-button marginbottom04" onclick="addworkshop()">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>
          <div class="register2__workshop__container">

          </div>
        </div>
        <div class="register2__personal">
          <div class="register2__personal__dob displayflexcol marginbottom06">
            <label for="dob" class="fontheavy">Date of birth</label>
            <input type="date" class="register2__personal__dob__input" />
          </div>
          <div class="register2__personal__gender marginbottom06">
            <label for="gender" class="fontheavy">Gender</label>
            <input type="radio" value="male" name="gend" class="register2__personal__gender__input marginleft6" />Male
            <input type="radio" value="female" name="gend" class="register2__personal__gender__input" />Demale
            <input type="radio" value="transgender" name="gend" class="register2__personal__gender__input" />Transgender
          </div>
          <div class="register2__personal__marital marginbottom06">
            <label for="marital" class="fontheavy ">Marital Status</label>
            <input type="radio" value="Married" name="marital"
              class="register2__personal__marital__input marginleft3" />Married
            <input type="radio" value="Unmarried" name="marital" class="register2__personal__marital__input" />Unmarried
          </div>
        </div>
        <div class="register2__submit">
          <button class="register2__submit-btn bluebtn" onclick="submitregister2()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  var input = document.getElementById('teacherimg');
  input.onchange = function () {
    var file = input.files[0],
      reader = new FileReader();
    reader.onloadend = function () {
      b64 = reader.result.replace(/^data:.+;base64,/, '');
      console.log(b64);
    };
    reader.readAsDataURL(file);
  };
</script>

</html>