<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sass/main.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            var data = {
                "authkey": localStorage.getItem("authkey"),
                "faculty_id": localStorage.getItem("faculty_id")
            };

            $('#dept-id').change(function () {
                if ($('#dept-id').val() != "Select branch") {
                    $('#year-id').removeAttr('disabled');
                }
                else {
                    $('#year-id').attr('disabled', true);
                    $('#sem-id').attr('disabled', true);
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',
                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);
                        var d = "<option selected>Select year</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + `</option>'`;
                        }
                        $('#year-id').html(d);
                    }
                });
            });
            $('#year-id').change(function () {
                if($('#year-id').val() != "Select year"){
                    $('#sem-id').removeAttr('disabled');
                }
                else{
                    $('#sem-id').attr('disabled', true);
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val(),
                    'year': $('#year-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',

                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);
                        var d = "<option selected>Select sem</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + `</option>'`;
                        }
                        $('#sem-id').html(d);
                    }
                });
            });
            $('#sem-id').change(function(){
                if($('#sem-id').val() != "Select sem"){
                    $('#sec-id').removeAttr('disabled');
                }
                else{
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val(),
                    'year': $('#year-id').val(),
                    'sem': $('#sem-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',

                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);

                        var d = "<option selected>Select section</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + ` - Section </option>'`;
                        }
                        $('#sec-id').html(d);
                    }
                });
            });
            $('#sec-id').change(function(){
                console.log($('#sec-id').val());
                if($('#dept-id').val() != "Select branch" && $('#year-id').val() != "Select year" && $('#sem-id').val() != "Select sem" && $('#sec-id').val() != "Select section"){
                    $('#submit-student-search').removeAttr("disabled");
                }
                else{
                    $('#submit-student-search').attr('disabled', true);
                }
            });
            
            // $.ajax({
            //     type: "POST",
            //     url: "getclass",
            //     dataType: 'Json',
            //     contentType: 'application/json',
            //     data: JSON.stringify(data),
            //     processData: false,
            //     success: function(ret_obj){

            //     }
            // })
        });
        function submitstudentsearch(){
            var department = $('#dept-id').val();
            var year = $('#year-id').val();
            var sem = $('#sem-id').val();
            var sec = $('#sec-id').val();
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            var d = {
                'authkey' : authkey,
                'faculty_id' : faculty_id,
                'department' : department,
                'year' : year,
                'sem' : sem,
                'sec' : sec 
            };
            $.ajax({
                type: "POST",
                    url: "get_student_details",
                    dataType: 'Json',
                    contentType: 'application/json',
                    data: JSON.stringify(d),
                    processData: false,
                    success: function(ret_obj){
                        console.log(ret_obj);
                    }
            });
        }
    </script>
</head>

<body>

    <div class="studentbatch">
        <div class="studentbatch__add">
            <div class="studentbatch__add__batch">
                <button class="search-btn studentbatch__add__batch__btn" disabled>Add batch</button>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Add student
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add student details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="studentbatch__add__form">
                                <div class="studentbatch__add__name formcommon">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" class="studentbatch__add__name__input inputcommon">
                                </div>
                                <div class="studentbatch__add__usn formcommon">
                                    <label for="usn">USN:</label>
                                    <input type="text" id="usn" class="studentbatch__add__usn__input inputcommon">
                                </div>
                                <div class="studentbatch__add__fathername formcommon">
                                    <label for="fathername">Father Name:</label>
                                    <input type="text" id="name"
                                        class="studentbatch__add__fathername__input inputcommon">
                                </div>
                                <div class="studentbatch__add__parentcontact formcommon">
                                    <label for="contact">Parent/Guardian Contact number:</label>
                                    <input type="text" id="contact"
                                        class="studentbatch__add__parentcontact__input inputcommon">
                                </div>
                                <div class="studentbatch__add__permanentaddress formcommon">
                                    <label for="permanentaddress">Permanentaddress:</label>
                                    <textarea id="permanentaddress" cols="30" rows="3"
                                        class="studentbatch__add__permanentaddress__input inputcommon"></textarea>
                                </div>
                                <div class="studentbatch__add__currentaddress formcommon">
                                    <label for="currentaddress">Currentaddress:</label>
                                    <textarea id="currentaddress" cols="30" rows="3"
                                        class="studentbatch__add__currentaddress__input inputcommon"></textarea>
                                </div>
                                <div class="studentbatch__add__hobbies formcommon">
                                    <label for="hobbies">Hobbies:</label>
                                    <input type="text" id="hobbies"
                                        class="studentbatch__add__parentcontact__input inputcommon">
                                </div>
                                <div class="studentbatch__add__personality formcommon">
                                    <label for="personality">Personality:</label>
                                    <input type="text" id="personality"
                                        class="studentbatch__add__personality__input inputcommon">
                                </div>
                                <div class="studentbatch__add__career formcommon">
                                    <label for="career">Career aspirations:</label>
                                    <input type="text" id="career" class="studentbatch__add__career__input inputcommon">
                                </div>
                                <div class="studentbatch__add__sslc formcommon">
                                    <label for="sslc">10th results(%):</label>
                                    <input type="number" id="sslc" class="studentbatch__add__sslc__input inputcommon">
                                </div>
                                <div class="studentbatch__add__puc formcommon">
                                    <label for="puc">2nd puc results(%):</label>
                                    <input type="number" id="puc" class="studentbatch__add__sslc__input inputcommon">
                                </div>
                                <div class="studentbatch__add__diploma formcommon">
                                    <label for="diploma">Diploma results(%):</label>
                                    <input type="number" id="diploma"
                                        class="studentbatch__add__sslc__input inputcommon">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="assignclass__selectclass">
            <div class="assignclass__selectdept">
                <select class="dept" id="dept-id">
                    <option value="" selected>Select branch </option>
                    <option value="CSE">CSE</option>
                    <option value="ISE">ISE</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                </select>
            </div>
            <div class="assignclass__selectyear">
                <select id="year-id" class="year" disabled>
                    <option value="none" selected hidden>Select year</option>
                    <!-- <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option> -->
                </select>
            </div>
            <div class="assignclass__selectsection">
                <select id="sem-id" class="section" disabled>
                    <option value="none" selected hidden>Select sem</option>
                    <!-- <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option> -->
                </select>
            </div>
            <div class="assignclass__selectsection">
                <select id="sec-id" class="section" disabled>
                    <option value="none" selected hidden>Select section</option>
                    <!-- <option value="a">A section</option>
                    <option value="b">B section</option> -->
                </select>
            </div>
            <button id="submit-student-search" disabled onclick="submitstudentsearch()">Submit</button>
        </div>


        <!-- <div class="studentbatch__details">
            <div class="studentbatch__details__heading">2 sem A section ISE</div>
            <div class="studentbatch__details__batch">
                <div class="studentbatch__details__tablehead">
                    <div class="studentbatch__details__student__sl">Sl no</div>
                    <div class="studentbatch__details__student__usn">USN</div>
                    <div class="studentbatch__details__student__name">Name</div>
                </div>
                <div class="studentbatch__details__student">
                    <div class="studentbatch__details__student__sl">1</div>
                    <div class="studentbatch__details__student__usn">1rn18cs056</div>
                    <div class="studentbatch__details__student__name">Rahul</div>
                </div>
                <div class="studentbatch__details__student">
                    <div class="studentbatch__details__student__sl">2</div>
                    <div class="studentbatch__details__student__usn">1rn18cs057</div>
                    <div class="studentbatch__details__student__name">Mehul</div>
                </div>
            </div>
        </div> -->
    <table id="student-data-table">
        <thead>
            <th>Sl. No</th>
            <th>Name</th>
            <th>USN</th>
            <th>Sub 1</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>





    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>