<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sass/main.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script> -->
    <script src="{{ url_for('static', filename = 'js/table-to-excel/dist/tableToExcel.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.3/jspdf.plugin.autotable.min.js"></script>
    <style>
        table,
        tr,
        th {
            border: 1px solid black;
        }

        th {
            padding: 10px;
        }

        #button_container {
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 40px;
        }

        #button_container button {
            width: 30%;
        }

        .display_none {
            display: none !important;
        }
        .display_ass_none{
            display: none;
        }
        .display_type_none{
            display: none;
        }
        #marks-table {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            margin-top: 30px;
        }

        #marks-table td {
            padding: 12px;
        }

        .filter_box {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        .mega_filter_container {
            text-align: center;
            margin-top: 30px;
            background-color: #E5E5E5;
            padding: 20px;
        }
    </style>
    <script>
        function openmodal() {
            $('.modal').removeClass('modal__dispnone');
        }
        function closemodal() {
            $('.modal').addClass('modal__dispnone');
        }
        function opennavbar() {
            $('.navbar').toggleClass('show-navbar');
            $('nav__icon').toggleClass('displaynone');
        }
        function showsublist(param, value) {
            $('ul', param).toggleClass(value);
        }
        function logout() {
            localStorage.clear();
            window.location.href = '/';
        }
        function loadnavbar() {
            priority = localStorage.getItem('faculty_type');
            var temp = `
            <ul class="nav__ul">
                    <li class="nav__li" onclick="window.location.href = 'home' "><i class="fa fal fa-home displaynone nav__icon"></i>&nbsp;&nbsp;Home</li>
                    <li class="nav__li teacherli" onclick="showsublist($(this), 'show')"><i class="fa fal fa-chalkboard-user displaynone nav__icon"></i>&nbsp;&nbsp;Professor<span></span>
                        <ul class="sub ">
                            <!--Add show on click of teacherli-->`;
            if (priority > 2) {
                temp += `
                    <li class="sub__li" onclick="window.location.href = 'teachers'"><i class="fa fal fa-users displaynone nav__icon"></i>&nbsp;&nbsp;View All Teachers</li>
                    <li class="sub__li" onclick="window.location.href = 'approval'"><i class="fa fal fa-thumbs-up displaynone nav__icon"></i>&nbsp;&nbsp;Approve Register Request</li>
                    <li class="sub__li" onclick="window.location.href = 'assignclass'"><i class="fa fal fa-hand-point-right displaynone nav__icon"></i>&nbsp;&nbsp;Assign Class teachers</li>
                `;
            }
            if (priority > 1) {
                temp += `
                <li class="sub__li" onclick="window.location.href = 'assignteacher'"><i class="fa fal fa-edit displaynone nav__icon"></i>&nbsp;&nbsp;Add subjects</li>
                `;
            }
            temp += `</ul>
                    </li>
                    <li class="nav__li studentli" onclick="showsublist($(this), 'show')"><div class="student"><i class="fa fal fa-user-graduate displaynone nav__icon"></i>&nbsp;&nbsp;Students</div>
                        <ul class="sub studentlist">`;
            if (priority > 1) {
                temp += `
                    <li class="sub__li" onclick=" window.location.href = 'addstudent'"><i class="fa fal fa-graduation-cap displaynone nav__icon"></i>&nbsp;&nbsp;Add students</li>
                `;
            }
            temp += `
                            <li class="sub__li" onclick=" window.location.href = 'allstudents'"><i class="fa fal fa-user-graduate displaynone nav__icon"></i>&nbsp;&nbsp;View all students</li>
                            <li class="sub__li" onclick=" window.location.href = 'addattendance'"><i class="fa fal fa-clock displaynone nav__icon"></i>&nbsp;&nbsp;Manage attendace</li>
                            <li class="sub__li" onclick=" window.location.href = 'iamarks'"><i class="fa fal fa-book-open displaynone nav__icon"></i>&nbsp;&nbsp;Manage IA marks</li>
                            
                        </ul>
                    </li>
                </ul>
            `;
            $('.navbar').html(temp);
        }
        function openfeedback() {
            var feedback__body = `<div class="modal__heading">
                <p>Feedback</p>
                <div class="close-btn" onclick="closefeedback()"><i class="fa fa-times fa-2x"></i></div>
            </div>
            <div class="feedback__input">
                <input type="text" placeholder="enter ur feedback here" class="feedback__content">
            </div>
            <div class = "feedback__submit" >
                <button class = "feedback__submit__btn" onclick="submit__feedback()"> Submit</button>
            </div>
            `
            $('.modal__body').html(feedback__body);
            $('.feedback__modal').toggleClass('modal__dispnone');
        }
        function closefeedback() {
            $('.feedback__modal').toggleClass('modal__dispnone');
        }
        function submit__feedback() {
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            var data = {
                'authkey': authkey,
                'faculty_id': faculty_id,
                'location': window.location.href,
                'feedback': $('.feedback__content').val()
            };
            if ($('.feedback__content').val() == '') {
                alert("feedback cannt be empty");
            }
            else {
                console.log(data);
                $.ajax(
                    {
                        type: "POST",
                        url: "feedback",
                        dataType: 'Json',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        processData: false,
                        success: function (ret_obj) {
                            console.log(ret_obj);
                            $('.feedback__modal').toggleClass('modal__dispnone');
                        }
                    });
            }
        }
    </script>
    <script>
        var main_subject_data = null;
        $(document).ready(function () {
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            if (faculty_id == null || authkey == null) {
                window.location.href = "/";
            }
            if (localStorage.getItem('faculty_type') < 2) {
                window.location.href = 'home'
            }
            loadnavbar();
            var pic = localStorage.getItem("teacher_picture");
            console.log(pic);
            var img = ` <img src="data:image/jpg;base64, ` + pic + `" alt="" class="header__logout__img" >`
            $('.header__logout__pic').html(img);
            $('#dept-id').change(function () {
                if ($('#dept-id').val() != "Select branch") {
                    $('#year-id').removeAttr('disabled');
                }
                else {
                    $('#year-id').attr('disabled', true);
                    $('#sem-id').attr('disabled', true);
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',

                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);
                        var d = "<option selected>Select year</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + `</option>'`;
                        }
                        $('#year-id').html(d);
                    }
                });

            });
            $('#button_container').addClass('display_none');
            $('#marks-table').addClass('display_none');
            $('.mega_filter_container').addClass('display_none');
            $('#year-id').change(function () {
                if ($('#year-id').val() != "Select year") {
                    $('#sem-id').removeAttr('disabled');
                }
                else {
                    $('#sem-id').attr('disabled', true);
                    $('#sem-id').attr('disabled', true);
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val(),
                    'year': $('#year-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',

                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);
                        var d = "<option selected>Select sem</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + `</option>'`;
                        }
                        $('#sem-id').html(d);
                    }
                });

            });

            $('#sem-id').change(function () {
                if ($('#sem-id').val() != "Select sem") {
                    $('#sec-id').removeAttr('disabled');
                }
                else {
                    $('#sec-id').attr('disabled', true);
                    $('#submit-student-search').attr('disabled', true);
                }
                var d = {
                    'authkey': localStorage.getItem('authkey'),
                    'faculty_id': localStorage.getItem('faculty_id'),
                    'department': $('#dept-id').val(),
                    'year': $('#year-id').val(),
                    'sem': $('#sem-id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "get_year_sem_sec",
                    dataType: 'Json',
                    contentType: 'application/json',

                    data: JSON.stringify(d),
                    processData: false,
                    success: function (ret_obj) {
                        console.log(ret_obj);

                        var d = "<option selected>Select sem</option>";
                        for (i = 0; i < (ret_obj['data']).length; i++) {
                            d += `'<option value="` + ret_obj['data'][i]['0'] + `">` + ret_obj['data'][i]['0'] + ` - Section </option>'`;
                        }
                        $('#sec-id').html(d);
                    }
                });

            });
            $('#sec-id').change(function () {
                if ($('#dept-id').val() != "Select branch" && $('#year-id').val() != "Select year" && $('#sem-id').val() != "Select sem" && $('#sec-id').val() != "Select section") {
                    $('#submit-student-search').removeAttr("disabled");
                }
                else {
                    $('#submit-student-search').attr('disabled', true);
                }
            });
        });
        function submitgetmarks() {
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            var d = {
                'faculty_id': faculty_id,
                'authkey': authkey,
                'dept': $('#dept-id').val(),
                'sec': $('#sec-id').val(),
                'graduation_year': $('#year-id').val(),
                'sem': $('#sem-id').val()
            };
            $.ajax({
                type: "POST",
                url: "get_class_marks",
                dataType: 'Json',
                contentType: 'application/json',
                data: JSON.stringify(d),
                processData: false,
                success: function (ret_obj) {
                    console.log(ret_obj);
                    student_data = [];
                    if (ret_obj['status_code'] == 200) {
                        temp = `<tr>
                            <th rowspan="3">Name</th>
                            <th rowspan="3">USN</th>
                        `;
                        filter_load_data = `<div class="filter_box">`;
                        main_subject_data = [];
                        for (subject in ret_obj['data']['subject_data']) {
                            filter_load_data += `
                                <div class="filter_select_group">
                                    <label for="subject_`+ ret_obj['data']['subject_data'][subject]['name'] + `">` + ret_obj['data']['subject_data'][subject]['name'] + `</label>
                                    <input type="checkbox" id="subject_`+ ret_obj['data']['subject_data'][subject]['name'] + `" onchange="changed_filter($(this))" checked>
                                </div>
                            `;
                            main_subject_data.push(ret_obj['data']['subject_data'][subject]['name']);
                            if (ret_obj['data']['subject_data'][subject]['marks'].length == 0) {
                                temp += `<th rowspan="3" colspan="` + ret_obj['data']['subject_data'][subject]['count'] + `" class="` + ret_obj['data']['subject_data'][subject]['name'] + `">` + ret_obj['data']['subject_data'][subject]['name'] + `</th>`;
                            }
                            else {
                                temp += `<th colspan="` + ret_obj['data']['subject_data'][subject]['count'] + `" class="` + ret_obj['data']['subject_data'][subject]['name'] + `">` + ret_obj['data']['subject_data'][subject]['name'] + `</th>`;
                            }
                        }
                        filter_load_data += `</div>`;
                        filter_load_data += `
                        <div class="filter_box">
                            <div class="filter_select_group">
                                <label for="type_AS">Assignments</label>
                                <input type="checkbox" checked onchange="changed_type_filter($(this))" id="type_AS">
                            </div>

                            <div class="filter_select_group">
                                <label for="type_QZ">Quiz</label>
                                <input type="checkbox" checked onchange="changed_type_filter($(this))" id="type_QZ">
                            </div>

                            <div class="filter_select_group">
                                <label for="type_IA">IA Marks</label>
                                <input type="checkbox" checked onchange="changed_type_filter($(this))" id="type_IA">
                            </div>

                            <div class="filter_select_group">
                                <label for="type_PJ">Projects</label>
                                <input type="checkbox" checked onchange="changed_type_filter($(this))" id="type_PJ">
                            </div>
                            
                        </div>
                        `;

                        filter_load_data += `
                        <div class="filter_box">
                            <div class="filter_select_group">
                                <label for="ass_A1">Assessment 1</label>
                                <input type="checkbox" checked onchange="changed_ass_filter($(this))" id="ass_A1">
                            </div>

                            <div class="filter_select_group">
                                <label for="ass_A2">Assessment 2</label>
                                <input type="checkbox" checked onchange="changed_ass_filter($(this))" id="ass_A2">
                            </div>

                            <div class="filter_select_group">
                                <label for="ass_A3">Assessment 3</label>
                                <input type="checkbox" checked onchange="changed_ass_filter($(this))" id="ass_A3">
                            </div>
                            <div class="filter_select_group">
                                <label for="ass_A4">Assessment 4</label>
                                <input type="checkbox" checked onchange="changed_ass_filter($(this))" id="ass_A4">
                            </div>
                            
                        </div>
                        `;
                        main_subject_data = main_subject_data.join();
                        $('.mega_filter_container').html(filter_load_data);
                        temp += '</tr><tr>';
                        for (subject in ret_obj['data']['subject_data']) {
                            for (i = 0; i < ret_obj['data']['subject_data'][subject]['marks'].length; i++) {
                                name = ret_obj['data']['subject_data'][subject]['marks'][i]['name'];
                                temp += `
                                    <th colspan="`+ ret_obj['data']['subject_data'][subject]['marks'][i]['sub_marks'].length + `" class="` + ret_obj['data']['subject_data'][subject]['name'] + ` `+(name[0] + name[name.length - 1])+`">` + (name[0] + name[name.length - 1]) + `</th>
                                `;
                            }
                        }
                        temp += `</tr><tr>`;
                        for (subject in ret_obj['data']['subject_data']) {
                            for (i = 0; i < ret_obj['data']['subject_data'][subject]['marks'].length; i++) {
                                for (k = 0; k < ret_obj['data']['subject_data'][subject]['marks'][i]['sub_marks'].length; k++) {
                                    t_type = ret_obj['data']['subject_data'][subject]['marks'][i]['sub_marks'][k]['test_type'];
                                    if (t_type == "Internal Assessment") {
                                        temp += `<th class="` + ret_obj['data']['subject_data'][subject]['name'] + ` IA">IA</th>`;
                                    }
                                    else if (t_type == "Assignments") {
                                        temp += `<th class="` + ret_obj['data']['subject_data'][subject]['name'] + ` AS">AS</th>`;
                                    }
                                    else if (t_type == "Quiz") {
                                        temp += `<th class="` + ret_obj['data']['subject_data'][subject]['name'] + ` QZ">QZ</th>`;
                                    }
                                    else if (t_type == "Projects") {
                                        temp += `<th class="` + ret_obj['data']['subject_data'][subject]['name'] + ` PJ">PJ</th>`;
                                    }
                                }
                            }
                        }
                        temp += `</tr>`;
                        $('.marks_table_head').html(temp);
                        temp = ``;
                        for (student in ret_obj['data']['student_data']) {
                            temp += `<tr id="` + ret_obj['data']['student_data'][student]['student_id'] + `">`;
                            temp += `<td>` + ret_obj['data']['student_data'][student]['student_name'] + `</td>`;
                            temp += `<td>` + ret_obj['data']['student_data'][student]['student_usn'] + `</td>`;
                            for (subject in ret_obj['data']['subject_data']) {
                                if ((subject in ret_obj['data']['student_data'][student]['marks'])) {
                                    for (i = 0; i < ret_obj['data']['student_data'][student]['marks'][subject]['assessment'].length; i++) {
                                        for (j = 0; j < ret_obj['data']['student_data'][student]['marks'][subject]['assessment'][i]['details'].length; j++) {
                                            sub_temp = ret_obj['data']['student_data'][student]['marks'][subject]['assessment'][i]['details'][j];
                                            test_name = ret_obj['data']['student_data'][student]['marks'][subject]['assessment'][i]['test_name'];
                                            test_type_option = sub_temp['test_type'];
                                            test_type_class = "";
                                            if(test_type_option == "Internal Assessment"){
                                                test_type_class = "IA";
                                            }
                                            else if(test_type_option == "Assignments"){
                                                test_type_class = "AS";
                                            }
                                            else if(test_type_option == "Quiz"){
                                                test_type_class = "QZ";
                                            }
                                            else if(test_type_option == "Projects"){
                                                test_type_class = "PJ";
                                            }
                                            temp += `<td class="` + ret_obj['data']['subject_data'][subject]['name'] + ` `+test_name[0] + test_name[test_name.length - 1]+` `+test_type_class+`">` + sub_temp['marks_secured'] + ` / ` + sub_temp['max_marks'] + `</td>`;
                                        }
                                    }
                                }
                                else {
                                    if (ret_obj['data']['subject_data'][subject]['count'] == 0) {
                                        temp += `<td class="` + ret_obj['data']['subject_data'][subject]['name'] + `">-</td>`;
                                    }
                                    else {
                                        for (i = 0; i < ret_obj['data']['subject_data'][subject]['count']; i++) {
                                            temp += `<td class="` + ret_obj['data']['subject_data'][subject]['name'] + `">-</td>`;
                                        }
                                    }
                                }
                            }
                            temp += `</tr>`;
                        }
                        $('.marks_table_body').html(temp);
                        $('#button_container').removeClass('display_none');
                        $('#marks-table').removeClass('display_none');
                        $('.mega_filter_container').removeClass('display_none');
                    }
                }
            });
        }
        function sendsms() {
            var faculty_id = localStorage.getItem('faculty_id');
            var authkey = localStorage.getItem('authkey');
            var subject_data = main_subject_data;
            subject_data = subject_data.split(",");
            console.log(subject_data);
            final_data = [];
            $('.marks_table_body').find('tr').each(function () {
                student_id = $(this).attr('id');
                marks = [];
                k = 0;
                name = name = $('td:nth-child(1)', this).text();
                usn = $('td:nth-child(2)', this).text();
                console.log(name);
                for (i = 0; i < subject_data.length; i++) {
                    m = $('td:nth-child(' + (i + 3) + ')', this).text();
                    if (m != "-") {
                        console.log(subject_data[i]);
                        dum = {
                            "subject": subject_data[i],
                            "marks": m
                        };
                        marks.push(dum);
                    }
                }
                final_data.push({ "student_id": student_id, "marks": marks });
            });
            console.log(final_data);
            var d = {
                "faculty_id": faculty_id,
                "authkey": authkey,
                "data": final_data
            };
            $.ajax({
                type: "POST",
                url: "send_marks_sms",
                dataType: 'Json',
                contentType: 'application/json',
                data: JSON.stringify(d),
                processData: false,
                success: function (ret_obj) {
                    console.log(ret_obj);
                    alert("Messages Successfully sent");
                }
            });
        }
        function download_excel() {
            TableToExcel.convert(document.getElementById("marks-table"));
        }
        function hideDaa() {
            $('.DAA').attr({ 'data-exclude': "true" });
            $('.DAA').addClass('display_none');
        }
        function showDaa() {
            $('.DAA').removeAttr('data-exclude');
            $('.DAA').removeClass('display_none');
        }
        function changed_filter(param) {
            console.log("came in");
            checkbox_id = $(param).attr('id');
            if ($('#' + checkbox_id).is(":checked")) {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).removeClass('display_none');
                if($('.' + class_name).hasClass('display_ass_none') == false && $('.' + class_name).hasClass('display_type_none') == false){
                    $('.' + class_name).removeAttr('data-exclude');
                }
                console.log("checked");
            }
            else {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).addClass('display_none');
                $('.' + class_name).attr({ 'data-exclude': "true" });
                console.log('unchecked');
            }
        }
        function changed_type_filter(param){
            checkbox_id = $(param).attr('id');
            if ($('#' + checkbox_id).is(":checked")) {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).removeClass('display_type_none');
                if($('.' + class_name).hasClass('display_ass_none') == false && $('.' + class_name).hasClass('display_none') == false){
                    $('.' + class_name).removeAttr('data-exclude');
                }
                console.log("checked");
            }
            else {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).addClass('display_type_none');
                $('.' + class_name).attr({ 'data-exclude': "true" });
                console.log('unchecked');
            }
        }
        function changed_ass_filter(param){
            checkbox_id = $(param).attr('id');
            if ($('#' + checkbox_id).is(":checked")) {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).removeClass('display_ass_none');
                if($('.' + class_name).hasClass('display_none') == false && $('.' + class_name).hasClass('display_type_none') == false){
                    $('.' + class_name).removeAttr('data-exclude');
                }
                console.log("checked");
            }
            else {
                class_name = checkbox_id.split("_")[1];
                $('.' + class_name).addClass('display_ass_none');
                $('.' + class_name).attr({ 'data-exclude': "true" });
                console.log('unchecked');
            }
        }
        var specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '.no-export': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true;
            }
        };

        function download_pdf() {

            var doc = new jsPDF();
            //A4 - 595x842 pts
            //https://www.gnu.org/software/gv/manual/html_node/Paper-Keywords-and-paper-size-in-points.html
            doc.autoTable({theme: 'grid', html: '#marks-table' });
            doc.save('table.pdf');
        }
            //Html source 
        //     var source = document.getElementById('marks-table').innerHTML;

        //     var margins = {
        //         top: 10,
        //         bottom: 10,
        //         left: 10,
        //         width: 595
        //     };

        //     doc.fromHTML(
        //         source, // HTML string or DOM elem ref.
        //         margins.left,
        //         margins.top, {
        //         'width': margins.width,
        //         'elementHandlers': specialElementHandlers
        //     },

        //         function (dispose) {
        //             // dispose: object with X, Y of the last line add to the PDF 
        //             //          this allow the insertion of new lines after html
        //             doc.save('Test.pdf');
        //         }, margins);
        // }
        // function download_pdf() {
        //     $("#marks-table").tableHTMLExport({
        //         type: 'pdf',
        //         orientation: 'p'
        //     });

        // }
    </script>
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static' , filename = 'images/logo.png')}}" alt="" class="header__collegelogo">
            <div class="header__content1">
                <button class="nav-btn" onclick="opennavbar()"><i class="fa fa-bars fa-2x"></i></button>
                <h3 class="header__heading">Student login</h3>
            </div>
            <div class="header__content2">
                <!-- <form action="" class="header__form search-show">
                    <input type="search" class="header__search" placeholder="Search here">
                    <button class="header__search-btn"><i class="fa fa-search fa-1x icon-sbtn"></i></button>
                </form> -->
                <div class="btn-shownone">
                    <i class="fa fa-search fa-2x "></i>
                    <!--Make the btn-shownone to display block on click-->
                </div>

                <div class="header__logout">
                    <div class="header__logout__group" onclick="showsublist($(this), 'header__logout__listshow')">
                        <div class="header__logout__pic">
                            <img src="../images/user-3.jpg" alt="" class="header__logout__img">
                        </div>
                        <div class="header__dots"><i class="fa fa-ellipsis-v fa-1x"></i>
                            <ul class="header__logout__list ">
                                <!--Add header__logout__listshow on click of header__logout__group-->
                                <li><a href="home">My profile</a></li>
                                <!-- <li><a href="#">Settings</a></li> -->
                                <li><a href="#">Log out</a></li>
                            </ul>
                        </div>
                        <p class="header__logout__name"><span class="header__logout__span">Admin</span>
                            <ul class="header__logout__list ">
                                <!--Add header__logout__listshow on click of header__logout__group-->
                                <li><a href="home">My profile</a></li>
                                <!-- <li><a href="#">Settings</a></li> -->
                                <li>
                                    <div onclick="logout()">Log out</div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="navbar ">
                <!--Add show-navbar on click of nav button-->
                <ul class="nav__ul">
                    <li class="nav__li"><a href="">home</a> </li>
                    <li class="nav__li teacherli"><a href="" class="teacher">Professor</a> <span></span>
                        <ul class="sub ">
                            <!--Add show on click of teacherli-->

                            <li class="sub__li" onclick="window.location.href = 'assignclass'">Class teachers</li>
                            <li class="sub__li" onclick="window.location.href = 'assignteacher'">Add subjects</li>
                        </ul>
                    </li>
                    <li class="nav__li studentli"><a href="" class="student">Students</a>
                        <ul class="sub studentlist">
                            <!--Add show on click of studentli-->
                            <li class="sub__li" onclick=" window.location.href = 'addstudent'"> Add students</li>

                            <li class="sub__li" onclick=" window.location.href = 'addattendance'">Manage attendace</li>
                            <li class="sub__li" onclick=" window.location.href = 'iamarks'"> Manage IA marks</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="viewmarks">
                    <!-- <div class="viewmarks__selectclass">
                        <div class="viewmarks__selectdept">
                            <select class="dept" id="dept-id">
                                <option value="" selected hidden>Select branch </option>
                                <option value="CSE">CSE</option>
                                <option value="ISE">ISE</option>
                                <option value="ECE">ECE</option>
                                <option value="EEE">EEE</option>
                            </select>
                        </div>
                        <div class="viewmarks__selectyear">
                            <select id="year-id" class="year" disabled>
                                <option value="none" selected hidden>Select year</option>
                            -->
                    <!-- <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option> -->
                    <!--</select>
                        </div>
                        <div class="viewmarks__selectsection">
                            <select id="sem-id" class="section" disabled>
                                <option value="none" selected hidden>Select sem</option>
                            -->
                    <!-- <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="6">6</option> -->
                    <!--</select>
                        </div>
                        <div class="viewmarks__selectsection">
                            <select id="sec-id" class="section" disabled>
                                <option value="none" selected hidden>Select section</option>
                            -->
                    <!-- <option value="a">A section</option>
                                <option value="b">B section</option> -->
                    <!--</select>
                        </div>
                        <button id="submit-student-search" disabled onclick="submitgetmarks()">Submit</button>
                    </div> -->
                    <div class="assignclass__selectclass">
                        <div class="assignclass__selectdept">
                            <select class="dept" id="dept-id">
                                <option value="" selected hidden>Select branch </option>
                                <option value="CSE">CSE</option>
                                <option value="ISE">ISE</option>
                                <option value="ECE">ECE</option>
                                <option value="EEE">EEE</option>
                            </select>
                        </div>
                        <div class="assignclass__selectyear">
                            <select id="year-id" class="year" disabled>
                                <option value="none" selected hidden>Select year</option>
                                <!-- <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option> -->
                            </select>
                        </div>
                        <div class="assignclass__selectsection">
                            <select id="sem-id" class="section" disabled>
                                <option value="none" selected hidden>Select sem</option>
                                <!-- <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="6">6</option> -->
                            </select>
                        </div>
                        <div class="assignclass__selectsection">
                            <select id="sec-id" class="section" disabled>
                                <option value="none" selected hidden>Select section</option>
                                <!-- <option value="a">A section</option>
                                <option value="b">B section</option> -->
                            </select>
                        </div>
                        <div class=""></div>
                        <button class="register__btn bluebtn attendance__submit" id="submit-student-search" disabled
                            onclick="submitgetmarks()">Submit</button>
                    </div>
                    <div class="mega_filter_container">
                        <h2 style="">FILTER</h2>
                        <div class="filter_box">
                            <div class="filter_select_group">
                                <label for="DAA">DAA</label>
                                <input type="checkbox" checked onchange="changed_filter($(this))">
                            </div>
                            <div class="filter_select_group">
                                <label for="DAA">DAA</label>
                                <input type="checkbox" checked onchange="changed_filter($(this))">
                            </div>
                        </div>

                    </div>
                    <div class="marks_table">
                        <table id="marks-table">
                            <thead class="marks_table_head">
                                <!-- <th>Name</th>
                                <th>USN</th> -->
                            </thead>
                            <tbody class="marks_table_body">

                            </tbody>
                        </table>
                    </div>
                    <div id="button_container">
                        <button onclick="sendsms()" class="register__btn bluebtn attendance__submit">Send SMS</button>
                        <button onclick="download_excel()" class="register__btn bluebtn attendance__submit">Download
                            Excel</button>
                        <button onclick="download_pdf()" class="register__btn bluebtn attendance__submit">Download
                            PDF</button>
                    </div>

                </div>
            </div>
            <div class="feedback__class" onclick="openfeedback()" style="position: fixed; bottom: 30px;right: 30px;">
                <button class="feedback__btn"
                    style="height: 100px; width: 100px; border-radius: 50%; background-color: yellow; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);">Feedback
                </button>
            </div>
        </section>

    </div>

    <div class="feedback__modal modal__dispnone">
        <div class="modal__body">

        </div>
    </div>

</body>

</html>