.head {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 20px;
  font-weight: 600;
}

.marks-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.marks-entry__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  margin-bottom: .5rem;
}

.marks-entry__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marks-entry__tc:not(:last-child) {
  margin-right: .2rem;
}

.marks-entry__tc_border {
  border: 1px solid black;
}

.marks-entry__td {
  border: 1px solid black;
  text-align: center;
  margin-bottom: .2rem;
}

.marks-entry__td_1 {
  padding: 0 1rem .6rem 1rem;
}

.marks-entry__td_2 {
  padding: .2rem 1rem .4rem 1rem;
}

.marks-entry__td_none {
  border: none;
}

.number {
  width: 4rem;
  background-color: transparent;
  border: none;
}

.number__1 {
  border: 1px solid black;
  margin-bottom: 1rem;
}

.extra__item {
  border: 1px solid black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.extra__item:not(:last-child) {
  margin-right: 2rem;
}

.item__heading {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
}

.item__sub-heading {
  text-transform: uppercase;
  font-weight: 500;
}

.submit__marks {
  display: block;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.7rem 4rem 0.7rem 4rem;
  letter-spacing: 2px;
  border-radius: 100px;
  border: 1px solid #cfcfcf;
  background: -webkit-gradient(linear, left top, right top, from(#00c5fb), to(#0253cc));
  background: linear-gradient(to right, #00c5fb, #0253cc);
  color: white;
}

.submit__marks:hover {
  cursor: pointer;
}

.submit__marks:focus {
  outline: none;
  -webkit-transform: translatey(0.2rem);
          transform: translatey(0.2rem);
}

.add__assessment__question__paper__pattern__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add__assessment__test__flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.add__assessment__descriptive__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 60%;
  margin: 1rem auto 1rem auto;
  border: 1px solid #cfcfcf;
  padding: 2rem;
}

.add__assessment__descriptive__grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add__assessment__input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__assessment__select {
  /*border-radius: 100px;
        border:none;
        background-color: #eee;
        padding: 0.5rem 2rem 0.5rem 2rem;*/
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 100px;
  background-color: #eee;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}

.add__assessment__add__test__set {
  width: 300px;
  position: relative;
  left: 70%;
}

.add__assessment__add__test__set:hover {
  cursor: pointer;
}

.assessment__button {
  background-color: #eee;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border: 1px solid #cfcfcf;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assessment__button:hover {
  cursor: pointer;
  background-color: #c4c4c4;
}

.assessment__button:focus {
  outline: none;
}

.marks-entry__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marks-entry__td {
  height: 50px;
  width: 80px;
  padding: 1rem 0 0 0;
}

.submit__marks {
  width: 100%;
}

.add__new__assessment__button {
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.add__new__assessment__button:hover {
  cursor: pointer;
}

.add__new__assessment__button:focus {
  outline: none;
}

input {
  background-color: #eee;
  border: 1px solid #cfcfcf;
}

@media screen and (max-width: 1200px) {
  .add__assessment__descriptive__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.add__assessment__display__none {
  display: none;
}

.modal .modal__body {
  width: 80%;
  height: 80%;
  overflow: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max__marks {
  color: lightgray;
  text-align: left;
}

.changed__input__css__to__width__50 {
  width: 43px !important;
}

.view__marks__table td, th {
  border: 1px solid black;
  width: 30px;
}

.view__student__marks__modal .marks-entry__td {
  width: 100%;
}

.invalid__red__boX {
  border: 3px solid red;
}
/*# sourceMappingURL=assessentry.css.map */