.register2 {
  display: flex;
 
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(207, 207, 207);
  padding: 1rem;
  
  &__profile {
   width: 45vw;
   border: 1px solid rgb(207, 207, 207);
   padding: 0.6rem;
   &__heading{
     display: flex;
     justify-content: center;
   }
  }
  &__forms {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;*/
    display: flex;
    flex-direction: column;
  }
  &__name{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__email{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__department {
    //align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__designation{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__qualification {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__specialize {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__date{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__association{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__phone{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__exp{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__teacherimage{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__address{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
  }
  &__talks {
    &__details {
      display: flex;
      flex-direction: column;
    }
  }
  &__workshop {
    grid-column: 1/3;
    &__details {
      display: flex;
      flex-direction: column;
    }
  }
  &__education {
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__container{
      display: flex;
      justify-content: space-between;
    }
    &__degrees {
      padding: 0.3rem;
    }
    grid-column: 1/3;
  }
  &__area_of_specialisation{
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__cont{
      display: flex;
      justify-content: space-between;
    }
  }
  &__workexp {
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__cont{
      display: flex;
      justify-content: space-between;
    }
    grid-column: 1/3;
  }
  &__research {
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    &__publications{
      border: 1px solid rgb(207, 207, 207);
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      &__cont{
        display: flex;
        justify-content: space-between;
      }
    }
    &__papers{
      border: 1px solid rgb(207, 207, 207);
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      &__cont{
        display: flex;
        justify-content: space-between;
      }
    }
    grid-column: 1/3;
  }
  &__talks {
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__cont{
      display: flex;
      justify-content: space-between;
    }
    grid-column: 1/3;
  }
  &__session {
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__cont{
      display: flex;
      justify-content: space-between;
    }
    grid-column: 1/3;
  }
  &__workshop{
    border: 1px solid rgb(207, 207, 207);
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    &__cont{
      display: flex;
      justify-content: space-between;
    }
  }

  &__submit {
    grid-column: 1/3;
    position: relative;
    &-btn {
      /* position: absolute;
      top: 50%;
      transform: translateY(-50%);*/
      width: 100%;
      border: 10px;
      padding: 0.8rem;
    }
  }
  &__personal {
    &__dob{
      border: 1px solid rgb(207, 207, 207);
      padding: 0.6rem;
    }
    &__gender{
      border: 1px solid rgb(207, 207, 207);
      padding: 0.6rem;
    }
    &__marital{
      border: 1px solid rgb(207, 207, 207);
      padding: 0.6rem;
    }
    grid-column: 1/3;
  }
}
